{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Books Name</title>
</head>
<body bgcolor="jakshi">
	<font color="lightseagreen" size="6.7">
<a href='/home/'>home</a>
<a href='/music/'>music</a>
<a href='/hobbies/'>hobbies</a>
<a href='/movie/'>movie</a>
<a href='/place/'>place</a> 
<a href='/friends/'>friends</a>		
<center><b>&#x1F4DA;Books List &#x1F4D3;</b></center>
<h4><i>&#x1F516; List of my books &#x1F4D2;</i></h4>
<p>
	<img src="{% static 'img/book.jpeg'%}" height="80">
<ol type="A"> 
	<li> Anokhi bhet</li> 
	<li> Six thinking Hats</li> 
	<li> 2 states</li>
	<li> That's the way we meet</li>
	<li> Half Girlfriend</li>
	<li> sorry you're not my type</li>
</ol>
<h6>Name: <br> {{name}}</h6>
<h6> My favourati places :
<ul>
	<table border="2">
{% for p in place %}
<tr>
<td><li>{{p}}</li></td></tr>
{% endfor %}
</table>
</ul>
</h6>
</p>

</font>
</body>
</html>