<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
</head>
<body bgcolor="magenta">
	<form>
	<font size="50">
<center>Login Form</center>
<form action='/home/' method='GET'>
		<center>
			<h1>Login</h1>
<table>
	<tr><td>Name</td>
		<td><input type="text" name='username'></td>
	</tr>
	<tr>
		<td>Password</td>
		<td><input type="Password" name='password'></td>
	</tr>
	<tr>
		<td><button type="submit">Submit</button></td>
		<td><button type="reset">Reset</button></td>
	</tr>
</table>
</form>
</font>
</form>
</body>
</html>